<% content_for(:title) { t(:'email.hand_off.acceptance.subject') } %>

<h1>
  <%= t(:'email.hand_off.acceptance.headline') %>
</h1>
<p>
  <%= t(:'email.hand_off.acceptance.text') %>
</p>
<p>
  <%= t(:'email.hand_off.acceptance.outro') %>
</p>
