<% content_for(:title) { t(:'email.hand_off.assignment.subject') } %>

<h1>
  <%= t(:'email.hand_off.assignment.headline') %>
</h1>
<p>
  <%= t(:'email.hand_off.assignment.text') %>
</p>
<p>
  <%= t(:'email.hand_off.assignment.outro') %>
</p>
