<% content_for(:title) { t(:'email.hand_off.invitation.subject') } %>

<h1>
  <%= t(:'email.hand_off.invitation.headline') %>
</h1>
<p>
  <%= t(:'email.hand_off.invitation.text') %>
</p>
<p>
  <%= t(:'email.hand_off.invitation.outro') %>
</p>
