<% content_for(:title) { t(:'email.password_change_request.subject') } %>

<h1>
  <%= t(:'email.password_change_request.headline') %>
</h1>
<p>
  <%= t(:'email.password_change_request.intro_html', app: Settings.app.name, email: @user.email) %>
</p>
<div class='button-wrapper'>
  <%= link_to t(:'email.password_change_request.button'), @link, class: 'button button--primary' %>
</div>
<p>
  <%= t(:'email.password_change_request.outro') %>
</p>
