<% content_for(:title) { t(:'email.task.expiring_hand_offs.subject') } %>

<h1>
  <%= t(:'email.task.expiring_hand_offs.headline') %>
</h1>
<p>
  <%= t(:'email.task.expiring_hand_offs.text') %>
</p>
<p>
  <%= t(:'email.task.expiring_hand_offs.outro') %>
</p>
