<tr>
  <td class='gp-email__body expand-on-mobile' valign='top'>
    <div class='container reset-on-mobile'>
      <table border='0' cellpadding='0' cellspacing='0'>
        <tbody>
          <tr>
            <td>
              <table border='0' cellpadding='0' cellspacing='0'>
                <tbody>
                  <tr>
                    <td>
                      <%# TODO: ADD LOGO %>
                      <img class='gp-email__header-logo' alt='GliderPath logo' width='40' height='40' src=''>
                      <%= yield %>
                    </td>
                  </tr>
                </tbody>
              </table>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </td>
</tr>
